*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Josefin Sans', sans-serif;
}

body{
     width: 100%;
}

h1, p{
     text-align: center;
}

h2{
     color: white;
}

.wrapper-navbar{
     background-color: black;
     padding: 10px;
}

.navbar{
     width: 70%;
     margin: auto;
     display: flex;
     justify-content: space-between;
}

.content-wrapper{
     width: 70%;
     height: 500px;
     padding-top: 150px;
     margin: auto;
     background-image: linear-gradient(to right, #007788, #99eebb);
     border: 1px solid black;
     border-radius: 5px;
}

.start-wrapper{
     width: 300px;
     margin: auto;
}

.hide{
     display: none;
}

.choices{
     width: 50%;
     margin: auto;
     margin-top: 10px;
     display: flex;
     flex-direction: column;
}

.exit-page{
     width: 60%;
     margin: auto;
}

form{
     width: 50%;
     margin: auto;
}

.startBtn{
     width: 300px;
     margin: auto;
}

#highscore{
     padding: 5px;
     width: 200px;
}

button[type="button"]{
     margin-bottom: 10px;
     height: 30px;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     font-weight: bold;
     background:rgb(255, 245, 151);
     transition: 0.5s ease;
}

button[type="button"]:hover{
     background: rgb(255, 214, 153);
}