*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     width: 100%;
}

h1, p{
     text-align: center;
}

h2{
     color: white;
}

.wrapper-navbar{
     background-color: black;
     padding: 10px;
}

.navbar{
     width: 70%;
     margin: auto;
     display: flex;
     justify-content: space-between;
}

.content-wrapper{
     width: 70%;
     height: 500px;
     margin: auto;
     background-color: grey;
     border: 1px solid black;
}

.start-wrapper{
     width: 100px;
     margin: auto;
}

.hide{
     display: none;
}

.choices{
     width: 50%;
     margin: auto;
     display: flex;
     flex-direction: column;
}

.exit-page{
     width: 40%;
     margin: auto;
}
